[Unit]
Description=Flask app service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/your_app_directory
Environment="PATH=/root/your_app_directory/venv/bin"
ExecStart=/root/your_app_directory/venv/bin/python3 app.py

[Install]
WantedBy=multi-user.target